<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063328145220-lkl2jtgsgvuo52on6t6qjr28gkrfc87t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063328145220-lkl2jtgsgvuo52on6t6qjr28gkrfc87t</string>
	<key>API_KEY</key>
	<string>AIzaSyAM4nqxf3Xq5TjWIjZ0yrSNuvVQZubFns8</string>
	<key>GCM_SENDER_ID</key>
	<string>1063328145220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cicdtest02</string>
	<key>PROJECT_ID</key>
	<string>cicdtest02</string>
	<key>STORAGE_BUCKET</key>
	<string>cicdtest02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063328145220:ios:973ede13a59d9211b94111</string>
</dict>
</plist>